.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header { 
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
      margin-left: 40vw;
    margin-top: 20vh;

}

.App-link {
  color: #61dafb;
}
.navImg{
  height: 3vw;
}
.space{
  display: flex;
  justify-content: space-between
}
.hello{
      float: right;
    display: flex;
    justify-content: flex-end;
      width: 80vw;
}
.messageText{
  width: 15vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
