.logo{
    width: 112px;
    height: 28px;
    margin-top: 10px;

}
.navbar{
 display: flex;
 flex-flow: row;
 justify-content: space-between;
}
.space{
    margin: 5px;   
}
.Nav{
    padding: 0px 10px;
}
