@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.myButton {
    width: 100px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

form input {
    width: 500px!important;
}