.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  top: 0;
  background-color: black;
  color: red;
  width: 100%;
  position: fixed;
  margin-bottom: 15px;
  padding: 10px;
}
 .form {
   margin-top: 50px;
   color: tomato;
 }