/* Form */

.hero_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.field {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.field label {
  color: white;
}
