.input{
    width: 30%;
    display: flex;
    justify-content: center;
}

.control {
    display: flex;
    justify-content: center;
}

.label {
    text-align: center;
}

.field {
    margin-top: 40px;
}