.app-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: solid 15px #71dbae;
    display: flex;
    flex-flow: column nowrap;
}



.message-container {
    display: flex;
    width: 250px;
    position: relative;
}