table {
    width: 50px;
    padding-left: 50px;
}
input{
    width: 50px;
}
.breadcrumb:last-child {
    color: grey
}
.border {
    border: 10px solid white !important;
}
nav{
    background-color: white;
    color: grey;
}
grid .border{
    border-style: hidden;
}