.box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-form {
    max-width: 300px;
  }
.login-form-forgot {
    float: right;
  }
.login-form-button {
    width: 100%;
  }